<h1>Eval 360</h1>
<h4>Connexion</h4>

<form action="/student" method="POST">
  <div><label>Email: <input type="email" name="email"></label></div>
  <div><label>Password: <input type="password" name="password"></label></div>
  <input type="submit" value="Submit" routerLink="/note-eleve">
</form>

<!--
<h4>Inscription</h4>
<form action="/student" method="POST">
  <div><label>Name: <input type="text" name="name"></label></div>
  <div><label>Email: <input type="text" name="email"></label></div>
  <div><label>Password: <input type="password" name="password"></label></div>
  <input type="submit" value="Submit">
</form>-->

